@font-face
{
	font-family: 'OpenSans';
	src: url('/static/fonts/open-sans/OpenSans-Light.ttf') format('truetype');
}
body {
	background-color: #47545E ;
	font-family: 'OpenSans'; 
}
h1 {
	text-align: center;
	color: white;
	font-size: 50pt;

}

.forms {
	margin-right: 25%;
	text-align: right;
}
p.logo {
	text-align: center;
	color: #e9cdb0;
}

a {
	text-align: center;
	color: #dea8d8;
}

.button_holder {
	margin-right: 30%;
	text-align: right;
}

input[type=text] {
color: #000000;
 font-size: 16px;
 font-family: 'OpenSans' ;
 width: 405px;
 height: 25px;
 border: none;
 margin: 0;
 border-radius: 5px; 
 background: #fddf95;
 border: none;
 padding-left: 13px;
 padding-top: 6px;
 padding-bottom: 6px;
}

input[type=text]:hover {
	background: #ffffff;
}

textarea {
color: #000000;
 font-size: 16px;
 font-family: 'OpenSans' ;
 width: 500px;
 height: 50px;
 border: none;
 margin: 0;
 border-radius: 5px; 
 background: #fddf95;
 border: none;
 padding-left: 13px;
 padding-top: 6px;
 padding-bottom: 6px;

}

textarea:hover {
	background: #ffffff;

}

label {
	font-size: 20px;
 	font-family: 'OpenSans' ;
 	vertical-align: top;
 	color: #E9CDB0
}

input[type=submit]{
 color: #000000;
 font-size: 16px;
 font-family: 'OpenSans' ;
 width: 105px;
 height: 30px;
 border: none;
 margin: 0 auto;
 margin-left: 0;
 margin-right: 0;
 padding: 0;
 background: #f8bac4 ;
 border-radius: 5px; 

}

input[type=submit]:hover{
	background: #fc7e5b ;
}

table {
	margin-left: 25%;

}
td {
	text-align: left;
}

.force_name {
	font-weight: bold;
}