@font-face
{
	font-family: 'OpenSans';
	src: url('/static/fonts/open-sans/OpenSans-Light.ttf') format('truetype');
}
body {
	background-color: #47545E ;
	font-family: 'OpenSans'; 
}
h1 {
	text-align: center;
	color: white;
	font-size: 50pt;

}

.forms {
	margin: auto;
	width: 40%;
	text-align: left;
	
}
p.logo {
	text-align: center;
	color: #e9cdb0;
}

a {
	text-align: center;
	color: #dea8d8;
}

.page_instruction{
	text-align: center;
	color: white;
	font-size: 50pt;
}
.button_holder {
	margin-left: auto;
	margin-right: auto;
	
}

.delete-row {
	text-decoration: none;
}

.add-row {
	text-decoration: none;
}
input[type=text] {
color: #000000;
 font-size: 16px;
 font-family: 'OpenSans' ;
 width: 405px;
 height: 25px;
 border: none;
 margin: 0;
 border-radius: 5px; 
 background: #fddf95;
 border: none;
 padding-left: 13px;
 padding-top: 6px;
 padding-bottom: 6px;
}

input[type=text]:hover {
	background: #ffffff;
}

textarea {
color: #000000;
 font-size: 16px;
 font-family: 'OpenSans' ;
 width: 500px;
 height: 50px;
 border: none;
 margin: 0;
 border-radius: 5px; 
 background: #fddf95;
 border: none;
 padding-left: 13px;
 padding-top: 6px;
 padding-bottom: 6px;

}

textarea:hover {
	background: #ffffff;

}

label {
	font-size: 20px;
 	font-family: 'OpenSans' ;
 	vertical-align: top;
 	color: #E9CDB0
}

input[type=submit]{
 color: #000000;
 font-size: 16px;
 font-family: 'OpenSans' ;
 width: 105px;
 height: 30px;
 border: none;
 margin: 0 auto;
 margin-left: 0;
 margin-right: 0;
 padding: 0;
 background: #f8bac4 ;
 border-radius: 5px; 

}

input[type=submit]:hover{
	background: #fc7e5b ;
}

table.center {
	margin-left: 15%;
	margin-right: 15%;

}


td {
	
	color: #E9CDB0;
	font-size: 16px;
}

tr {
	margin-top: 5px;
	margin-bottom: 5px;

}

.force_name {
	font-weight: bold;
	font-size: 25px;
	color: #E9CDB0;
}
