<!DOCTYPE html>
<html lang=en>
	<head>
		<title>Set the scene</title>
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}base.css">
	</head>
	<body onunload="">
		<table>
			
					<form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
						{% for force, match in ontology_match.items %}
							<tr class="force_name"><td>{{ force }}</td></tr>
								{% for item in match %}
								<tr><td><input type="checkbox" name="checks" value="{{ item.prefLabel }}"> {{ item.prefLabel }} </td> 
									<td>
										{{ item.definition }}
									</td>
								<td>
								<select name="relationship">
									{% for k, v in choices %}
									<option value="{{ k }}"> {{ v }} </option>
									{% endfor %}
								</td>
								</tr>
							{% endfor %}
						{% endfor %}	
						<tr><td>
						<div class="button_holder">
							<input type="submit" value="Submit">
						</div>
						</tr></td>
					</form>							
		</table>			
	</body>
</html>