<!DOCTYPE html>
<html lang=en>
	<head>
		<title>Set the scene</title>
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}base.css">
	</head>
	<body>
		<h1> {{ request.session.new_pattern_name }} </h1>
		<p class="logo"> <img src="{{ MEDIA_URL }}{{ request.session.new_pattern_image }}"> </p>
		<div class='forms'>
		<form enctype="multipart/form-data" method="POST" action="">
				{{ formP.as_p }}
				{{ formC.as_p }}
			<div class="button_holder">
				<input type="submit" value="Submit">
			</div>
			{% csrf_token %}
		</div>
		</form> 
	</body>
</html>