<!DOCTYPE html>
<html lang=en>
	<head>
		<title>Use the force!</title>
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}base.css">
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.formset.js"></script>
		<!-- <meta http-equiv="Cache-Control" content="no-store" />    - now handled by onunload below !-->
		
	</head>
	<body onunload=""> <!-- onunload forces page reload if back button in browser is pressed  - need to repopualte forces from db !-->
		<h1> {{ request.session.new_pattern_name }} </h1>
		<p class='logo'> <img src="{{ MEDIA_URL }}{{ request.session.new_pattern_image }}"> </p>
		<div class='forms'>
		<form id="newForce" enctype="multipart/form-data" method="POST" action="">
			<div>
				{% for form in formset %}
				<table>
				{{ form }}
				</table>
				{% endfor %}
			</div>
			<div class="button_holder">
				<input type="submit" value="Submit">
			</div>
			{% csrf_token %}
			{{ formset.management_form }}
					
		</form> 
		</div>
		<!-- this is the script to add another or remove an instance of the force formset.
		it uses a jQuery selector to select the form with #id newForce, and operates over the div element. 
		it doesnt seem to matter (for now! if i select just the <div> or the <table> within the <div> element. 
		teh differnce being whether or not it will be important later to incude the for loop or not. !-->
		<script type="text/javascript"> 
		$(function() {
			$('#newForce div table').formset();
		})
		</script>

	</body>
</html>